doctype html
html(lang="en")
- var version = "v0.2.1"
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./styles.scss")
    title Simple Calendar
  body
    div#container
      #header
        #monthNameDisplay
        div.flex.gap-sm
          button#prevMonthBtn Prev
          button#currentMonth Today
          button#nextMonthBtn Next
      #weekdays.week
      #calendar.week

      .notes
        p Only one note per day for now. More features planned for later.
        p
          code#aboutButton #{version}


    #newEventModal.calendarModal
      div.modalContainer
        h2#eventTitle Add New Event
        p#eventDetails Event Details
        input#eventTitleInput(type="text", placeholder="Event Title")
        textarea#eventDetailsInput(name="details", placeholder="Event Description")
        .actions.flex.gap-md
          button#saveEventBtn.confirm Save Event
          button#cancelEventBtn.cancel Cancel
    #viewEventModal.calendarModal
      div.modalContainer
        h2#viewEventTitle {Event Title}
        p#viewEventDate {Event Date}
        p#viewEventDetails {Event Details}
        .actions.flex.gap-md
          button#editEventBtn.confirm.disabled(disabled title="Not implemented yet") Edit
          button#deleteEventBtn.delete Delete
          button#closeViewEventBtn.cancel Close
    #aboutModal.calendarModal
      div.aboutInfo
        h3 Simple Calendar
        code #{version} – unstable alpha
        p Made by&nbsp;
          |
          a(href='https://kamal.morjal.com' target="_blank") kamalx
          |
          |<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="16" height="16" style="text-align: baseline">
          |  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          |</svg>
        hr
        div.footnote If you're using this and would like to share your thoughts, please write to me at
          div.pill kamal+about-cal@morjal.com
        div.footnote NOTE:
          ul
            li Date formatting was improved in 0.2.0 (Feb 5, 2026). But, that also broke something for old notes. 🙈 You may not see your old notes after this date, however your data is still in your browser. We'll figure out a way to export all your data in a future version.
            li Please don't use for important data storage as your data is not saved or backed up anywhere else except in this browser window.
        button#closeAbout ✕
    #modalBackDrop
    #allEvents

    script(defer, src="./main.ts")
