html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html *, body, body * {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

#container {
  width: 500px;
  height: auto;
  min-height: 300px;
  margin: 5rem auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
  margin-bottom: 2px;

  & > div {
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    &:hover {
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
      background-color: #def;
      color: rgb(7, 104, 153);
    }
  }
}

#calendar {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  // padding: 10px;

  & > div.day {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    min-height: 60px;

    &.event_exists {
      border: 2px solid #e1d207;
      border-bottom: 5px solid #e1d207;
      background-color: #fffde6;
      overflow: hidden;
    }
    .event {
      position: absolute;
      bottom: -3rem;
      left: 0;
      right: 0;
      background-color: #e1d207;
      color: #333;
      padding: 2px 5px;
      font-size: 0.6rem;
      font-weight: 300;
      text-align: center;
      border-radius: 3px;
      transition: bottom 0.3s ease;
    }
    &:hover .event {
      bottom: 0;
    }
  }
}

#weekdays {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#weekdays > div {
  flex: 1;
  text-align: center;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: 3px solid #007bff;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  & > #monthNameDisplay {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
}

.pill {
  background-color: #ccc;
  line-height: 1.2;
  border-radius: 3px;
  padding: 2px 6px;
  margin: 3px 0;
  display: inline-block;
}

.notes {
  p {
    line-height: 1.1;
    margin: 0.25rem 0;
    font-size: 0.8rem;
  }
  code {
    @extend .pill;
  }
}

button#prevMonthBtn,
button#currentMonth,
button#nextMonthBtn {
  padding: 5px 10px;
  font-size: 0.6rem;
  line-height: 1rem;
  cursor: pointer;
  background: linear-gradient(to bottom, #b3b6bb, #717e93);
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:focus {
    background: linear-gradient(to bottom, #717e93 0%,#b3b6bb 10%);
    color: #fff;
  }
  &:hover {
    background: linear-gradient(to top, #717e93 0%,#b3b6bb 10%);
    color: #333;
  }
}

#modalBackDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900; /* Ensure it appears above other content */
  display: none; /* Hidden by default */
}

.calendarModal {
  h1, h2, h3, h4, h5 {
    margin-top: 0;
  }

  .aboutInfo {
    h3 {
      margin-bottom: 0;
    }
  }
}

#newEventModal,
.calendarModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it appears above the backdrop */
  display: none; /* Hidden by default */
  h2 {
   margin-top: 0;
  }
  p {
    margin: 10px 0;
  }
  button {
    --button-size: 1.2rem;
    padding: 5px 10px;
    background-color: #d0d0d0d0;
    color: #fff;
    border: none;
    border-radius: var(--button-size);
    cursor: pointer;
    line-height: var(--button-size);
  }
  button:hover {
    background-color: #00000040;
    color: #f0f0f0;
  }
  button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  }
  button.cancel {
    background-color: #6c757d;
  }
  button.cancel:hover {
    background-color: #5a6268;
  }
  button.cancel:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(108, 117, 125, 0.5);
  }
  button.confirm {
    background-color: #28a745;
  }
  button.confirm:hover {
    background-color: #218838;
  }
  button.confirm:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.5);
  }
  button.delete {
    background-color: #dc3545;
  }
  button.delete:hover {
    background-color: #c82333;
  }
  button.delete:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.5);
  }
}

#viewEventModal {
  z-index: 999;
}

.modalContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */

  input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 1rem 0;
    font-size: 1rem;
    font-family: inherit;
    box-sizing: border-box;
  }

  #eventTitle {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
  }
  #eventDetails {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
  }

}


#today {
  $size: 6px;

  background-image: linear-gradient(45deg, #e195f4, #eef4c4);
  color: #224;
  font-size: 1.5rem !important;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: $size; height: $size;
    top: 6px; right: 6px;
    background-color: #ffe;
    // border: 6px solid #000;
    border-radius: 50%;
  }
}

#closeAbout {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

// UTILITIES
.flex { display: flex; }
.flex-col { flex-direction: column; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-end { justify-content: flex-end; }
.justify-start { justify-content: flex-start; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

.gap-xs { gap: 0.25rem; }
.gap-sm { gap: 0.5rem; }
.gap-md { gap: 1rem; }
.gap-lg { gap: 1.5rem; }
.gap-xl { gap: 2rem; }
.gap-xxl { gap: 3rem; }

.tiny {
  font-size: 0.7rem;
}

.footnote {
  color: #666;
  pointer-events: none;
  user-select: none;
}

.disabled {
  background-color: #ccc !important;
  color: #444 !important;
  cursor: not-allowed !important;
}
